@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Medula+One&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@font-face {
  font-family: "Medula One", cursive;
  src: url("../fonts/MedulaOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Libre Baskerville", serif;
  src: url("../fonts/LibreBaskerville-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Libre Baskerville", serif;
  src: url("../fonts/LibreBaskerville-Bold.ttf") format("truetype");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.marginheader {
  margin-left: 10px;
  margin-right: 10px;
}

.marginheader2 {
  margin-left: 5px;
  margin-right: 5px;
}
.fit-picture {
  width: auto;
  height: 50px;
  object-fit: cover;
}

.justifycontent {
  justify-content: center;
}
.centermargin {
  margin-left: auto;
  margin-right: auto;
}

.tripleimg {
  width: 33%;
}

.imagealign {
  text-align: center;
}
.textalign {
  text-align: center;
}
.carousel1 {
  width: 100%;
}
.padding20 {
  padding-top: 20px;
}
.padding50 {
  padding-top: 50px;
}
.spacebetween {
  justify-content: space-between;
}
.spacearound {
  justify-content: space-around;
}

.alignitems {
  align-items: center;
}

.librebaskervilleregularwhite {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 10px;
}

.librebaskervilleregular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.medula-one-regular {
  font-family: "Medula One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

.medula-one-regular2 {
  font-family: "Medula One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.medula-one-regular3 {
  font-family: "Medula One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: white;
}

.medula-one-regular4 {
  font-family: "Medula One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.header {
  background-color: #af966d;
  height: 50px;
  width: 100%;
}

.w50 {
  width: 50%;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.m30{
  margin-bottom: 30px;
}
/*LA GRID */

/*

Polices : Medula One pour les titres et boutons, Libre Baskerville pour le reste

h1 64px

h2 48px

h3 36px 

i 36px

nav items 24px

Couleur dorée : #af966d

Jaune : #ffc107

*/

/*  INTERDICTION DE CREER DES CLASS POUR LES MARGES, UTILISEZ LES CLASS BOOTSTRAP EXISTANTES :
    https://getbootstrap.com/docs/5.0/utilities/spacing/
*/

/* STYLES DES SECTIONS  */

.dark {
  background-image: url(../img/zelda-bg_pattern_brown.png);
  object-fit: cover;
}

.light {
  background-image: url(../img/zelda-bg_pattern_white.png);
  object-fit: cover;
}

/* MODAL */

/* Ajouter le pattern zelda-bg_pattern_brown.png au background du modal */

/* GRID CSS */




.bloc1{
  width:500px;
  height: 500px;
  background-color: red;
}

.bloc2{
  width: 100%;
  height: 66%;
  background-color: blue;
}

.bloc3{
  width: 100%;
height: 34%;
background-color: green;
display: flex;
}

.bloc4{
  width: 34%;
  height: 100%;
  background-image: url("../img/zelda-grid-a.jpg");
  float: left;
  background-size: auto;
  background-repeat: no-repeat;
}

.bloc5{
  width: 100%;
  height:100%;
  background-color: blueviolet;
}

.bloc6{
  width: 66%;
  height: 50%;
background-image: url("../img/zelda-grid-b.png");
  float: left;
  object-fit: contain;
}

.bloc7{
  width: 100%;
  height: 50%;
  background-color: black;
}

.bloc8{
  width: 33%;
  height: 100%;
  background-color: aquamarine;
  float: left;
}

.bloc9{
  width: 33%;
  height: 100%;
  background-color: magenta;
  float: left;
}

.bloc10{
  width: 34%;
  height: 100%;
  background-color: bisque;
}

.bloc11{
  width: 66%;
  height: 100%;
  background-color: darkblue;
}



/* BOUTONS */

.btn {
}

/* FLEXBOX */

.myFlex {
}

/******************/

/* DIVIDER */

*,
:after,
:before {
  box-sizing: border-box;
}

.hl-arrow {
  position: relative;
  display: block;
  background-color: #af966d;
  margin: 17px auto 12px;
  max-width: 307px;
  height: 2px;
  opacity: 0;
  width: 0;
  -webkit-transition: width 2s 0.1s cubic-bezier(0.49, 0.02, 0.29, 1.06),
    opacity 0.6s 0.1s ease;
  transition: width 2s 0.1s cubic-bezier(0.49, 0.02, 0.29, 1.06),
    opacity 0.6s 0.1s ease;
}
.hl-arrow {
  width: 100%;
  opacity: 1;
}
@media only screen and (max-width: 767px) {
  .hl-arrow {
    max-width: inherit;
    width: 60%;
    margin: 14px auto 13px;
  }
}
.hl-arrow:before,
.hl-arrow:after {
  position: absolute;
  content: "";
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNC4yLjIsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iZGl2aWRlciIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIyNXB4IiBoZWlnaHQ9IjhweCIgdmlld0JveD0iMCAwIDI1IDgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI1IDg7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtmaWxsOiNCNjlBNjg7fQ0KPC9zdHlsZT4NCjxwb2x5Z29uIGlkPSJhcnJvdyIgY2xhc3M9InN0MCIgcG9pbnRzPSIyNC41LDUuMDI3IDIxLjgyMiw3Ljc0NCAxOS4zNDMsNS4yMyAxNy4wOTUsNy43NDQgMC41LDQuMjY3IDAuNSwzLjk3NyAxNy4wOTUsMC41IA0KCTE5LjM0MywzLjAxNCAyMS44MjIsMC41IDI0LjUsMy4yMTYgIi8+DQo8L3N2Zz4NCg==")
    center center no-repeat;
  width: 24px;
  height: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.hl-arrow:before {
  left: -24px;
}
.hl-arrow:after {
  -webkit-transform: translateY(-50%) scaleX(-1);
  transform: translateY(-50%) scaleX(-1);
  right: -24px;
}

